.contenttab#dateconfig
    h2 #{$i18n.dateconfig.title}
    div #{$i18n.dateconfig.description}

    fieldset.form-horizontal
        .columns

            .column.col-6
                .h6 #{$i18n.dateconfig.colorconfig.day}

                .form-group 
                    .col-3
                        label.form-label(for='hourcolor') #{$i18n.dateconfig.colorconfig.hourhand} 
                    .col-9
                        input.form-input(type='color', id='hourcolor')
                
                .form-group 
                    .col-3
                        label.form-label(for='minutecolor') #{$i18n.dateconfig.colorconfig.minutehand} 
                    .col-9
                        input.form-input(type='color', id='minutecolor')
                
                .form-group
                    .col-3
                        label.form-label(for='secondcolor') #{$i18n.dateconfig.colorconfig.secondhand} 
                    .col-9
                        input.form-input(type='color', id='secondcolor')

            .column.col-6
                .h6 #{$i18n.dateconfig.colorconfig.night}

                .form-group 
                    .col-3
                        label.form-label(for='hourcolor') #{$i18n.dateconfig.colorconfig.hourhand} 
                    .col-9
                        input.form-input(type='color', id='hourcolor')
                
                .form-group 
                    .col-3
                        label.form-label(for='minutecolor') #{$i18n.dateconfig.colorconfig.minutehand} 
                    .col-9
                        input.form-input(type='color', id='minutecolor')
                
                .form-group
                    .col-3
                        label.form-label(for='secondcolor') #{$i18n.dateconfig.colorconfig.secondhand} 
                    .col-9
                        input.form-input(type='color', id='secondcolor')
