.modal#modalfirmware
    a.modal-overlay(href='#close', aria-label="Close" rv-on-click='toggleFirmwareModal')
    .modal-container
        .modal-header
            a.btn.btn-clear.float-right(href='#close', aria-label="Close" rv-on-click='toggleFirmwareModal')
            .modal-title.h4 ${{ index.sysconfig.firmware.title }}$
        .modal-body
            .content
                p ${{ index.sysconfig.firmware.description }}$
                form.form-horizontal(method='POST', action='/update', enctype='multipart/form-data')
                    .form-group
                        .col-2
                            label.form-label(for='firmware') ${{ index.sysconfig.firmware.update }}$
                        .col-7
                            input.form-input(type='file', accept='.bin', name='firmware') 
                        .col-3
                            button.btn.btn-lg.mx-2(type='submit') ${{ index.sysconfig.firmware.submit }}$
        .modal-footer
            #fwinfo ${{ index.sysconfig.firmware.version }}$
                span(rv-text="version")
