.contenttab#ledconfig
    h2 #{$i18n.ledconfig.title}
    div #{$i18n.ledconfig.description}

    fieldset.form-horizontal
        .form-group 
            .col-12
                label.form-switch(for='blendcolors')
                    input(type="checkbox" id="blendcolors")
                    i.form-icon
                    span #{$i18n.ledconfig.blendcolors} 

    fieldset.form-horizontal
        .form-group 
            .col-12
                label.form-switch(for='fluidmotion')
                    input(type="checkbox" id="fluidmotion")
                    i.form-icon
                    span #{$i18n.ledconfig.fluidmotion} 

    fieldset.form-horizontal
        .form-group 
            .col-12
                label.form-switch(for='bglight')
                    input(type="checkbox" id="bglight")
                    i.form-icon
                    span #{$i18n.ledconfig.backlight.enable} 

            .column.col-6.bglightsettings

                .form-group 
                    .col-3
                        label.form-label(for='bgcolor') #{$i18n.ledconfig.backlight.day} 
                    .col-9
                        input.form-input(type='color', id='bgcolor')
                
            .column.col-6.bglightsettings

                .form-group 
                    .col-3
                        label.form-label(for='bgcolor') #{$i18n.ledconfig.backlight.night} 
                    .col-9
                        input.form-input(type='color', id='bgcolor')