.contenttab#sysconfig
    h2 ${{ index.sysconfig.title }}$
    div ${{ index.sysconfig.description }}$

    fieldset.form-horizontal

        .form-group
            .col-4
                label.form-label(for='ledpin') ${{ index.sysconfig.led.pin }}$ 
            .col-8
                input.form-input(type='number', min='1', step='1', rv-value='config.ledPin')
        
        .form-group

            .col-4
                label.form-label(for='ledcount') ${{ index.sysconfig.led.count }}$ 
            .col-8
                input.form-input(type='number', min='60', step='1', rv-value='config.ledCount')
    
    include ../partials/ledorder.pug
    .divider
      
    fieldset.form-horizontal
        .h6 ${{ index.sysconfig.network.description }}$

        .form-group
            .col-4
                label.form-label(for='timeserver') ${{ index.sysconfig.network.timeserver }}$ 
            .col-8
                input.form-input(pattern='^([a-zA-Z0-9]([a-zA-Z0-9\-]{0,61 }}$[a-zA-Z0-9])?\.)+[a-zA-Z]{2,6 }}$$', maxlength='64', size='64', required, rv-value='config.timeserver')
        
        .form-group
            .col-4
                label.form-label(for='timeserver') ${{ index.sysconfig.network.hostname }}$ 
            .col-8
                input.form-input(pattern='^[a-zA-Z][a-zA-Z0-9-_\.]{1,64 }}$$', maxlength='64', size='64', required, rv-value='config.hostname')
    
    .divider


    fieldset.form-horizontal

        .form-group
            .col-12
                button.btn.btn-lg.modal-firmware-toggle(rv-on-click='toggleFirmwareModal') ${{ index.sysconfig.firmware.open }}$

    .divider

    fieldset.form-horizontal

        .form-group
            .col-12
                button.btn.btn-lg.modal-reset-toggle(rv-on-click='toggleResetModal')  ${{ index.sysconfig.reset.open }}$

    footer.text-gray ESP NeoPixel Clock 
        ins(rv-text='version') 
        span  by Merlin Schumacher.
        a(href='https://github.com/merlinschumacher/esp8266-clock',target='_blank')  Source and Info