.contenttab#sysconfig
    h2 ${{ index.sysconfig.title }}$
    div ${{ index.sysconfig.description }}$

    fieldset.form-horizontal

        .form-group
            .col-4
                label.form-label(for='ledpin') ${{ index.sysconfig.led.pin }}$ 
            .col-8
                input.resetneeded.form-input(type='number', min='1', step='1', rv-value='config.ledPin | int', rv-disabled='config.pinsLocked')
                p.form-input-hint.has-error(rv-show='config.pinsLocked') ${{ index.sysconfig.led.pinslockedinfo }}$
                p.form-input-hint.has-error(rv-hide='config.pinsLocked') ${{ index.sysconfig.led.bitbanginfo}}$
        
        .form-group

            .col-4
                label.form-label(for='ledcount') ${{ index.sysconfig.led.count }}$ 
            .col-8
                input.resetneeded.form-input(type='number', min='60', step='1', rv-value='config.ledCount | int')
    
    .divider

    fieldset.form-horizontal(rv-if='config.bgLight')

        .form-group
            .col-4
                label.form-label(for='ledpin') ${{ index.sysconfig.led.bgpin }}$ 
            .col-8
                input.resetneeded.form-input(type='number', min='1', step='1', rv-value='config.bgLedPin | int', rv-disabled='config.pinsLocked')
        
        .form-group

            .col-4
                label.form-label(for='ledcount') ${{ index.sysconfig.led.bgcount }}$ 
            .col-8
                input.resetneeded.form-input(type='number', min='1', step='1', rv-value='config.bgLedCount | int')
    
    include ../partials/ledorder.pug
    .divider
      
    fieldset.form-horizontal
        .h6 ${{ index.sysconfig.network.description }}$

        .form-group
            .col-4
                label.form-label(for='timeserver') ${{ index.sysconfig.network.timeserver }}$ 
            .col-8
                input.resetneeded.form-input(pattern='^([a-zA-Z0-9]([a-zA-Z0-9\-]{0,61 }}$[a-zA-Z0-9])?\.)+[a-zA-Z]{2,6 }}$$', maxlength='64', size='64', required, rv-value='config.timeserver')
        
        .form-group
            .col-4
                label.form-label(for='hostname') ${{ index.sysconfig.network.hostname }}$ 
            .col-8
                input.resetneeded.form-input(pattern='^[a-zA-Z][a-zA-Z0-9-_\.]{1,64 }}$$', maxlength='64', size='64', required, rv-value='config.hostname')
    
    .divider
    
    fieldset.form-horizontal
        .form-group 
            .col-12
                label.form-switch(for='mqttActive')
                    input.resetneeded(type='checkbox' id='mqttActive' rv-checked='config.mqttActive')
                    i.form-icon
                    span ${{ index.sysconfig.mqtt.active}}$ 
    
    .h4(rv-if='config.mqttActive') ${{ index.sysconfig.mqtt.title }}$
    fieldset.form-horizontal(rv-if='config.mqttActive')
        div ${{ index.sysconfig.mqtt.description }}$

        .form-group
            .col-4
                label.form-label(for='mqttServer') ${{ index.sysconfig.mqtt.server }}$ 
            .col-8
                input.resetneeded.form-input(pattern='^([a-zA-Z0-9]([a-zA-Z0-9\-]{0,61 }}$[a-zA-Z0-9])?\.)+[a-zA-Z]{2,6 }}$$', maxlength='64', size='64', rv-value='config.mqttServer')
        
        .form-group
            .col-4
                label.form-label(for='mqttUser') ${{ index.sysconfig.mqtt.user }}$ 
            .col-8
                input.resetneeded.form-input(maxlength='128', size='64', rv-value='config.mqttUser')
        
        .form-group
            .col-4
                label.form-label(for='mqttPassword') ${{ index.sysconfig.mqtt.password }}$ 
            .col-8
                input.resetneeded.form-input(type='password', maxlength='128', size='64', rv-value='config.mqttPassword')
        
        .form-group
            .col-4
                label.form-label(for='mqttPort') ${{ index.sysconfig.mqtt.port }}$ 
            .col-8
                input.resetneeded.form-input(type='number', min='1', max='65535', step='1', rv-value='config.mqttPort | int')
        
        .form-group
            .col-4
                label.form-label(for='mqttBaseTopic') ${{ index.sysconfig.mqtt.topic }}$ 
            .col-8
                input.resetneeded.form-input(maxlength='128', size='64', rv-value='config.mqttBaseTopic')
    
    .divider


    fieldset.form-horizontal

        .form-group
            .col-12
                button.btn.btn-lg.modal-firmware-toggle(rv-on-click='toggleFirmwareModal') ${{ index.sysconfig.firmware.title }}$

    .divider
    
    fieldset.form-horizontal

        .form-group
            .col-12
                button.btn.btn-lg.modal-wifi-toggle(rv-on-click='toggleWifiModal')  ${{ index.sysconfig.wificonf.open }}$
    
    .divider

    fieldset.form-horizontal

        .form-group
            .col-12
                button.btn.btn-lg.modal-reset-toggle(rv-on-click='toggleResetModal')  ${{ index.sysconfig.reset.open }}$

    footer.text-gray ESP NeoPixel Clock 
        ins(rv-text='version') 
        span  ${{ index.sysconfig.by }}$ Merlin Schumacher. 
        a(href='https://github.com/merlinschumacher/esp8266-clock',target='_blank',rel='noopener') ${{ index.sysconfig.source }}$