.contenttab#ledconfig
    h2 ${{ index.timeconfig.title }}$
    div ${{ index.timeconfig.description }}$
    
    fieldset.form-horizontal
        .form-group 
            .col-12
                label.form-switch(for='fluidmotion')
                    input(type='checkbox' id='fluidmotion' rv-checked='config.fluidMotion')
                    i.form-icon
                    span ${{ index.colorconfig.fluidmotion }}$ 
    
    .divider
    
    fieldset.form-horizontal
        .form-group 
            .col-12
                label.form-switch(for='hourlight')
                    input(type='checkbox' id='hourlight' rv-checked='config.hourLight')
                    i.form-icon
                    span ${{ index.timeconfig.hourlight }}$ 
    
    .divider

    fieldset.form-horizontal#alarmform
        .h6 ${{ index.timeconfig.alarm.title }}$
        p ${{ index.timeconfig.alarm.description }}$
        .form-group 
            .col-5.col-sm-12
                label.form-switch(for='alarmactive')
                    input(type='checkbox' id='alarmactive' rv-checked='config.alarmActive')
                    i.form-icon
                    span ${{ index.timeconfig.alarm.active }}$ 

            .divider-vert.col-2.hide-xs.alarmtime(rv-if='config.alarmActive')
            .col-2.col-sm-4.alarmtime(rv-if='config.alarmActive')
                    label.form-label(for='alarm') ${{ index.timeconfig.alarm.time }}$ 
            .col-3.col-sm-8.alarmtime(rv-if='config.alarmActive')
                    input.form-input(type='time', id='alarm' rv-value='config.alarmTime | time')
    
    .divider

    fieldset.form-horizontal
        .h6 ${{ index.timeconfig.night.description }}$

        .form-group
            .col-2.col-xs-4
                label.form-label(for='nightbegin') ${{ index.timeconfig.night.begin }}$ 
            .col-3.col-xs-8
                input.form-input(type='time', id='nightbegin' rv-value='config.nightTimeBegins | time')
        
            .divider-vert.col-2.hide-xs
            .col-12.pt-2.show-xs
            .col-2.col-xs-4
                label.form-label(for='nightbegin') ${{ index.timeconfig.night.end }}$ 
            .col-3.col-xs-8
                input.form-input(type='time', id='nightend' rv-value='config.nightTimeEnds | time')
     
    .divider

    fieldset.form-horizontal
        .form-group
            .col-4
                label.form-label(for='timezone') ${{ index.timeconfig.timezone }}$ 
            .col-8
                select.form-select(id='timezone', rv-value='config.timezone')
                    option(rv-each-timezone='timezones' rv-value='timezone') { timezone | replaceUnderscore }
